<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-ios-request-notification-authorization"
    version="1.0.0">
    <name>Cordova ios request notification authorization</name>
    <description></description>
    <license>WTFPL</license>
    <keywords>best plugin ever</keywords>
    <repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
    <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="notificationAuthorization" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="notificationAuthorization">
                <param name="ios-package" value="notificationAuthorization" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/notificationAuthorization.h" />
        <source-file src="src/ios/notificationAuthorization.m" />
    </platform>
</plugin>
